* {

}


:root {
    --light-contrast: white;
    --h2fontsize: 300%;
    --darkborder: #000000; 
    --darkbackgr: #000000;
    --lightimpact: 50;
    --linkdefault: none;
    --aligncenter: center;
    --section-margins: 0% 2% 0% 2%;
    }

    .navbar {
    padding: 3% 2% 1% 2%;  
    background-color: var(--darkbackgr);
    text-align: center;
    } 

    h1 {    
    justify-content: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: var(--lightimpact);
    font-size: 7vw;
    color: var(--light-contrast);
    }

    .navbar p {
    color: var(--light-contrast);
    font-family: monospace;
    }

    .nav-link {   
    list-style: var(--linkdefault);
    font-family: monospace;
    color: var(--light-contrast) !important;
    }   

    .h2-titles {
    padding: 1.5%;
    text-align: var(--aligncenter); 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: var(--lightimpact);
    font-size: var(--h2fontsize);   
    }
    
    .fa-bars {
    display: flex;
    flex-direction: column;

    }
    .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    }

    .jumbotron {
    margin-top: 1%;
    }

    .jumbotron-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: var(--lightimpact);
    font-size: 300%;
    }

    .jumbotron-body {
     background-color: rgba(0, 0, 0, 0.7);
     height: 350px;
     color: var(--light-contrast);
    }

    .jumbotron-button {
    background-color: #379268;
    border: none;
    border-radius: 0;
    font-family: monospace;
    }

    .jumbotron-button:hover {
    background-color: black;
    }
    .text-white h4 {
        font-family: monospace;
        font-weight: 40; 
    }

    i {
    color: #000000;
    font-size: 150%;
    }

    .cardContainer {
    border: none;
    }

    .card-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: var(--lightimpact);
    }

    .card-text {
    font-family:monospace;
    }

    .portfolio-cards {
    width: 75%;
    }

    .portfolio-button {
    background-color: #000000;
    border: none;
    border-radius: 0;
    font-family: monospace;
    }

    .portfolio-button:visited {
    background-color: black;
    }

    .portfolio-button:focus {
    background-color: #379268;
    }    

    .portfolio-button:hover {
    background-color: #379268;    
    }
    
    .portfolio-button:active {
    background-color: black;    
    }

    .about-card-title {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
        
